body {
  font-family: Roboto, arial;
  background: #101418;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  scroll-behavior: smooth !important;
}

header {
  display: block;
}

.main-header {
  background: url("../images/header.svg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  margin-bottom: 5rem;
}

.main-header .overlay {
  position: absolute;
  inset: 0;
  padding: 130px 0;
  background: linear-gradient(180deg, rgba(16, 20, 24, 0), #101418);
}

.Navbar nav,
.Navbar nav .nav-header {
  display: flex;
  justify-content: space-between;
}

.Navbar nav {
  padding-left: 10px;
  width: 70%;
  margin: auto;
  height: 78px;
  background-color: #101418;
  color: #fff;
  align-items: center;
}

nav {
  display: block;
}

.Navbar nav .nav-header {
  width: 76px;
}

.Navbar nav,
.Navbar nav .nav-header {
  display: flex;
  justify-content: space-between;
}

.Navbar .navbar-toggle {
  display: none;
}

.Navbar nav .collapse {
  height: 100%;
  width: 50%;
}

.Navbar nav .collapse ul {
  display: flex;
  height: 100%;
}

ul {
  list-style-type: none;
}

.Navbar nav .collapse ul li {
  height: 100%;
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s linear;
}

.Navbar nav .collapse ul li a {
  display: flex;
  color: #ffc;
  font-size: 1.125rem;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.Navbar nav .book-btn {
  height: 100%;
  background-color: #a08040;
  width: 27.2%;
  border: 1px solid #a08040;
  transition: 0.5s ease-out;
}

.Navbar nav .book-btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  font-size: 1.3125rem;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  width: 43%;
}

.main-header .overlay .header-content {
  width: 50%;
  margin: auto;
}

.main-header .overlay .header-content p {
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 117.3%;
  margin-bottom: 43px;
  margin-top: 2rem;
}

.headerhe {
  width: 390px;
  width: 50%;
  margin: auto;
}

.main-header .overlay .header-content h1 {
  color: #fffccc;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20rem;
}

.sec-btn {
  width: 215px;
  height: 55px;
  border: 2px solid #fffccc;
  background: hsla(0, 0%, 85%, 0);
  margin: auto;
  transition: 0.5s;
}

.sec-btn {
  width: 215px;
  height: 55px;
  border: 2px solid #fffccc;
  background: hsla(0, 0%, 85%, 0);
  margin: auto;
  transition: 0.5s;
}

.sec-btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 119.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 119.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
